@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');
@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme {
  --font-albert-sans: "Albert Sans", sans-serif;
  --font-righteous: "Righteous", sans-serif;

  --font-size-header: 18px;
  --font-weight-header: 450;

  --color-green-header: #DFFFB6;
  --color-green-header-homepage: #DCF2EE;
  --color-green: #C1FF72;
  --color-green-light: #F7FFEE;
  --color-blue: #5CE1E6;
  --color-blue-light: #DCF2EE;
  --color-blue-dark: #16A7AC;
  --color-blue-violet: #5053F9;
  --color-gray-light: #F5F5F5;

}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@layer utilities {
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  
}


